services:
  wyoming-openwakeword:
    image: rhasspy/wyoming-openwakeword:latest
    container_name: wyoming-openwakeword
    restart: unless-stopped
    ports:
      - "10400:10400"
    volumes:
      - ./oww-models:/models
    command: >
      --uri tcp://0.0.0.0:10400
      --models-dir /models
      --preload-model hey_jarvis

  wyoming-whisper:
    image: rhasspy/wyoming-whisper:latest
    container_name: wyoming-whisper
    restart: unless-stopped
    ports:
      - "10300:10300"
    volumes:
      - ./whisper-data:/data
    command: >
      --model tiny-int8
      --language hu
      --beam-size 1
      --uri tcp://0.0.0.0:10300
      --data-dir /data
      --download-dir /data

  wyoming-piper:
    image: rhasspy/wyoming-piper:latest
    container_name: wyoming-piper
    restart: unless-stopped
    ports:
      - "10200:10200"
    volumes:
      - ./piper-data:/data
      - ./tts-cache:/cache
    command: >
      --voice hu_HU-imre-medium
      --uri tcp://0.0.0.0:10200
      --data-dir /data
      --download-dir /data

  wyoming-satellite:
    image: sker65/wyoming-satellite:latest
    container_name: wyoming-satellite
    restart: unless-stopped
    profiles: ["hardware"]
    privileged: true
    devices:
      - "/dev/snd:/dev/snd"
    volumes:
      - ./tts-cache:/cache
    command: >
      --name 'PiSmartSpeaker'
      --uri 'tcp://0.0.0.0:10700'
      --mic-command 'arecord -D plughw:3,0 -r 16000 -c 1 -f S16_LE -t raw'
      --snd-command 'aplay -D plughw:4,0 -r 22050 -c 1 -f S16_LE -t raw'
      --wake-uri 'tcp://wyoming-openwakeword:10400'
      --wake-word-name 'hey_jarvis'
      --vad
      --vad-threshold 0.5
    depends_on:
      - wyoming-openwakeword
      - wyoming-whisper
      - wyoming-piper
  mosquitto:
    image: eclipse-mosquitto:2.0.22
    restart: unless-stopped
    ports: ["1883:1883"]
    volumes:
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/log:/mosquitto/log

  zigbee2mqtt:
    image: koenkk/zigbee2mqtt:2.7.2
    restart: unless-stopped
    profiles: ["hardware"]
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    environment:
      - TZ=Europe/Budapest
    volumes:
      - ./zigbee2mqtt/data:/app/data
      - ./zigbee2mqtt/log:/app/logs
    ports:
      - "8080:8080"